// @function strip-unit($value) {
//   @return $value / ($value * 0 + 1);
// }

// @mixin fluid-type(
//   $min-vw: 320px,
//   $max-vw: 1800px,
//   $min-font-size: 100px,
//   $max-font-size: 700px
// ) {
//   $u1: unit($min-vw);
//   $u2: unit($max-vw);
//   $u3: unit($min-font-size);
//   $u4: unit($max-font-size);

//   @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
//     & {
//       font-size: $min-font-size;
//       @media screen and (min-width: $min-vw) {
//         font-size: calc(
//           #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
//             ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
//         );
//       }
//       @media screen and (min-width: $max-vw) {
//         font-size: $max-font-size;
//       }
//     }
//   }
// }

.contact-form {
  width: 100%;
  max-width: 350px;
  padding: 20px 0;
}

.contact-form label {
  position: relative;
  z-index: 2;
  transform: translate3D(15px, 42.5px, 0);
  transition: transform 0.3s ease-in-out;
}

.contact-form textarea:focus + label,
.contact-form input:focus + label {
  transform: translate3D(15px, 0px, 0);
}
.contact-form textarea:valid + label,
.contact-form input:valid + label {
  transform: translate3D(15px, 0px, 0);
}

#contact-us {
  -webkit-text-stroke: 4px rgba(0, 0, 0, 1);
  // @include fluid-type($min-font-size: 46px, $max-font-size: 280px);
  font-size: clamp(2.3rem, 13vw, 28rem);
}
