:root {
  --mainFont: "Poppins", sans-serif;
  --secondaryFont: "Roboto", Helvetica;

  /* main  backgroundcolor  */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);

  /* secondary background  */
  --blackThree: rgba(51, 51, 51, 1);

  /* main text  */
  --blackTwo: rgba(33, 33, 33, 1);

  --grey: rgba(112, 108, 97, 1);
  --greyTwo: rgba(117, 117, 117, 1);
  --greyThree: rgba(189, 189, 189, 1);

  /* divider  */
  --greyThree: rgba(189, 189, 189, 1);

  /* color highlight  */
  --blueLight: rgba(225, 244, 243, 1);
}

.pagination {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}
.pagination li {
  list-style: none;
  display: inline-block;
}

.pagination li:not(.next):not(.previous) a {
  padding: 15px;
  display: block;
}

.pagination .next {
  justify-self: end;
}

.pagination .previous {
  justify-self: start;
}

.logo-rect,
.logo-circle {
  transform: rotate(0deg) matrix(1, 0, 0, 1, 0, 0);
  transition: transform 0.3s ease-in-out 0.3s, width 0.3s ease-in-out 0.3s;
}

.active .logo-rect {
  transform: rotate(90deg) matrix(0.1, 0, 0, 4, 400, -2000);
  transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
}

.active .logo-circle {
  transform: rotate(0deg) matrix(0.5, 0, 0, 0.5, 1394, 105);
  transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
}

.logo-container {
  position: relative;
  display: flex;
  width: fit-content;
  height: 24px;
  line-height: 1;
}

.logo-text {
  display: flex;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 700;
  height: 24px;
  line-height: 1;
  content: "PEARSON";
  transform: matrix(0, 0, 0, 0, 8, 10);
  opacity: 0;
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}

.active .logo-text {
  transform: matrix(1, 0, 0, 1, 8, 0);
  opacity: 1;
  transition: transform 0s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s;
}

.site-header {
  transition: border 0.3s ease-in-out;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0) !important;
}

.site-header.active {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1) !important;
}

.footer-nav-list {
  column-count: 2;
  column-gap: 5rem;
}

@media (min-width: 480px) {
  .project-container figure::before {
    padding-bottom: 100%;
  }
}

@media (min-width: 768px) {
  .project-container figure::before {
    padding-bottom: 87%;
  }
}

@media (min-width: 992px) {
  .project-container figure::before {
    padding-bottom: 75%;
  }
}
