:root {
  --mainFont: "Poppins", sans-serif;
  --secondaryFont: "Roboto", Helvetica;

  /* main  backgroundcolor  */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);

  /* secondary background  */
  --blackThree: rgba(51, 51, 51, 1);

  /* main text  */
  --blackTwo: rgba(33, 33, 33, 1);
  --blackFour: rgba(26, 32, 44, 1);

  --grey: rgba(112, 108, 97, 1);
  --greyTwo: rgba(117, 117, 117, 1);
  --greyThree: rgba(189, 189, 189, 1);

  /* divider  */
  --greyThree: rgba(189, 189, 189, 1);

  /* color highlight  */
  --blueLight: rgba(225, 244, 243, 1);
}

.vh100 {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

.pagination {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}
.pagination li {
  list-style: none;
  display: inline-block;
}

.pagination li:not(.next):not(.previous) a {
  padding: 15px;
  display: block;
}

.pagination .next {
  justify-self: end;
}

.pagination .previous {
  justify-self: start;
}

/* custom logo animation in header  */
.site-header.active {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.site-header.active.menu-open {
  -webkit-backdrop-filter: unset;
  backdrop-filter: unset;
}

.logo-rect,
.logo-circle {
  transition: transform 0.3s ease-in-out 0.3s, width 0.3s ease-in-out 0.3s;
}

.active .logo-rect {
  transform: rotate(90deg) matrix(0.1, 0, 0, 3.72, 400, -1780);
  transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
}

.active .logo-circle {
  transform: rotate(0deg) matrix(0.55, 0, 0, 0.6, 1230, 80);
  transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
}

.active .logo-text {
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
  transition: transform 0s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s;
}

/* Make list of pages in footer appear in columns  */
.footer-nav-list {
  column-count: 2;
  column-gap: 2rem;
}

@media (min-width: 480px) {
  .project-container figure::before {
    padding-bottom: 100%;
  }
  main button svg {
    transition: transform 0.3s ease-in-out;
  }

  main button:hover svg {
    transform: translateX(50%);
  }
  .footer-nav-list {
    column-gap: 4rem;
  }
}

@media (min-width: 768px) {
  .project-container figure::before {
    padding-bottom: 87%;
  }
  .footer-nav-list {
    column-gap: 5rem;
  }
  .footer-nav-list li a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  .project-container figure::before {
    padding-bottom: 60%;
  }
}
@media (min-width: 1281px) {
  .project-container figure::before {
    padding-bottom: 60%;
  }
}
@media (min-width: 1525px) {
  .social-icons {
    left: calc(1rem + (100vw - 1525px) / 2) !important;
  }
}
